<div class="advanced-dropdown" [ngClass]="{'disabled' : isDisabled() == true}">
    <div class="advanced-dropdown-caption" [ngClass]="{'inline' : useInlineCaption() == true}">{{getCaption()}}</div>
    <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-filter padding-right" aria-hidden="true"></i>
            <div class="advanced-dropdown-summary">
                <span [hidden]="isWaiting() == true">{{getSummary()}}</span>
                <i class="fa fa-refresh fa-spin" [hidden]="isWaiting() == false"></i>
            </div>
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-search-option">
                <input [(ngModel)]="_sSearchValue" placeholder="Search...">
            </div>
            <ul class="dropdown-option-list" [hidden]="isWaiting() == true">
                <li *ngFor="let oOption of getOptions() | dropdownOptionSearch:_sSearchValue:getOptionCaptionPropertyName(); let iIndex = index;"
                    (click)="onOptionClick(oOption)"
                    class="dropdown-option prevent-close-dropdown"
                    [ngClass]="{'selected' : isOptionSeleced(oOption) == true}">
                    <!--<label for="cbx-{{iIndex}}"><input id="cbx-{{iIndex}}" value="cbx-{{iIndex}}" type="checkbox"/>Option {{iIndex}}</label>-->
                    <i class="fa fa-check padding-right" aria-hidden="true"></i>{{getOptionCaptionValue(oOption)}}
                </li>
            </ul>
            <div style="text-align: center;" [hidden]="isWaiting() == false">
                Please wait...
            </div>
            <div class="dropdown-extra-buttons-container-bottom">
                <div class="prevent-close-dropdown half-width" (click)="selectAllOptions()">
                    <i class="fa fa-check-square-o padding-right" aria-hidden="true"></i><span class="d-none d-xl-inline">Select</span><span>All</span>
                </div>
                <div class="prevent-close-dropdown half-width" (click)="clearAllSelectedOptions()">
                    <i class="fa fa-trash-o padding-right"></i><span class="d-none d-xl-inline">Clear</span><span>All</span>
                </div>
            </div>

        </div>
    </div>
</div>
