<div class="advanced-dropdown button-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-filter padding-right" aria-hidden="true"></i>
        <span class="advanced-dropdown-summary"></span>
    </button>
    <div class="dropdown-menu">
        <div class="dropdown-search-option">
            <input [ngModel]="_sSearchValue" placeholder="Search...">
        </div>
        <ul class="dropdown-option-list">
            <li *ngFor="let oOption of getOptions(); let iIndex = index;"
                (click)="onOptionClick(oOption)"
                class="dropdown-option"
                [ngClass]="{'selected' : isOptionSeleced(oOption) == true}">
                <!--<label for="cbx-{{iIndex}}"><input id="cbx-{{iIndex}}" value="cbx-{{iIndex}}" type="checkbox"/>Option {{iIndex}}</label>-->
                <i class="fa fa-check padding-right" aria-hidden="true"></i>Option {{iIndex}}
            </li>
        </ul>

    </div>
</div>