.table-container{
	$size-edit-btn-width: 80px;
	$size-cell-padding-top-bottom: 6px;
	$size-cell-padding-left-right: 10px;
	$size-row-total-height: 48px;
	$size-rule-name-wrapper-height: $size-row-total-height;

	$size-table-border-thickness: 1px;

	$font-size-header: 0.8rem;
	$font-size-data: 0.9rem;

	width: 100%;
	height: 100%;
	overflow-y: scroll;
	border-bottom: 1px solid #ccc;

	table {
		width: 100%;
		border-collapse: collapse;
		margin:0;
		//box-shadow: 5px 5px 9px 1px #282b50;

		th, td{
			border: $size-table-border-thickness solid $color-rules-table-border;
			padding: $size-cell-padding-top-bottom $size-cell-padding-left-right;
			height: 76px;
		}

		thead{
			th{
				font-size: $font-size-header;
				text-align: center;
				border: $size-table-border-thickness solid $color-rules-table-header-border;
				background-color: $color-rules-table-header-bg;
				color: $color-rules-table-header-text;
				//font-weight: bold;
				height: 36px;
				padding: 2px $size-cell-padding-left-right;
				text-transform: uppercase;
				letter-spacing: 1.408px;


				&.col{
					&-work-cell, &-work-unit{
						text-align: left;
						font-size: 0.7rem;
					}

					&-actual, &-remaining, &-set, &-overflow, &-overflow-set{
						background-color: $color-rules-table-highlighted-header-blue;
					}
					&-actual{
						border-left: 2px solid $color-rules-table-column-separator-blue;
					}
					&-rule-type {
						border-left: 2px solid $color-rules-table-column-separator-blue;
					}

					&-rule-type, &-rule-name{
						background-color: darken($color-rules-table-header-bg,5%);
						font-size: 0.7rem;
					}

					&-allow-sorting{
						text-decoration: underline;
						&:hover{
							cursor: pointer;
						}
					}
				}
			}
		}


		tbody {
			tr {
				td {
					font-size: $font-size-data;
					//font-weight: bold;
					vertical-align: middle;
					height: $size-row-total-height;
					padding: 2px $size-cell-padding-left-right;

					&.col {
						&-actual, &-remaining, &-set, &-overflow, &-overflow-set {
							font-size: 1.1rem;
							color: #444;
						}
						&-actual {
							//border-right-color: $color-rules-table-column-separator-blue;
							border-left: 2px solid $color-rules-table-column-separator-blue;
						}
						&-rule-type {
							//border-right-color: $color-rules-table-column-separator-blue;
							border-left: 2px solid $color-rules-table-column-separator-blue;
						}
					}
				}
			}
		}



		.col{

			&-actual, &-remaining, &-set, &-overflow, &-overflow-set{
				width: 106px;
				text-align: center;
				padding-left: 2px;
				padding-right: 2px;
			}

			&-work-cell, &-work-unit{
				width: 120px;
			}
			&-actual{
			}
			&-remaining{
			}
			&-set{
			}
			&-overflow{
			}
			&-overflow-set{

			}
			&-rule-type{
				width: 74px;
			}
			&-rule-name{
				text-align: left;
				padding-top: 0px;
				padding-bottom: 0px;

				.rule-name-wrapper{
					padding-top: $size-cell-padding-top-bottom + 2px;
					padding-bottom: $size-cell-padding-top-bottom;
					height: $size-rule-name-wrapper-height;
					overflow: hidden;
				}

				.edit-trigger-btns-wrapper{

				}
			}
		}

		.cell{
			&-actual-equals-to-set{
				background-color: $color-rule-cell-green-bg;
				border-color: darken($color-rule-cell-green-bg, 6%);
				color: $color-rule-cell-green-text !important;
			}
			&-warning{
				background-color: $color-rule-cell-yellow-bg;
			}
			&-no-more-overflow-available{
				background-color: $color-rule-cell-red-bg;
				border-color: darken($color-rule-cell-red-bg, 6%);
				color: $color-rule-cell-red-text !important;
			}
		}


		.rule-name-wrapper{
			width: calc(100% - #{$size-edit-btn-width + 14px});
			display: inline-block;
			float: left;
		}
		.edit-trigger-btns-wrapper{
			width: $size-edit-btn-width;
			float: right;
			height: 100%;

			.btn-group{
				margin-top: 5px;
			}

			button{
				//min-width: 80px;
			}
		}
	}


	.fake-empty-table{
		width: 100%;
		height: calc(100% - 77px);
		border: 2px solid $color-rules-table-border;
		border-top: 0px;
		border-bottom: 0px;

		.no-data-notice{
			text-align: center;
			margin: auto;
			position: relative;
			top: calc(50% - 3rem);
			font-size: 3rem;
			color: #ccc;
		}
	}


	.rule-editor-container{
		max-width: 600px;

		.modal-body{

		}

		.rule-to-edit-summary{
			text-align: center;
			font-size: 1.3rem;
			margin-bottom: 36px;

			label{
				font-weight: bold;
				margin: 0px;
				display: block;
			}
		}

		.rule-to-edit-editable-value{
			$size-input-fields-padding: 2px 6px;

			margin-top: 14px;

			&.actual-value{
				input{
					width: 100%;
					padding: $size-input-fields-padding;
				}

			}

			&.comment{
				textarea{
					padding: $size-input-fields-padding;
					width: 100%;
					min-height: 110px;
					max-height: 220px;
				}
			}
		}
	}
}