.table-container{
	$size-edit-btn-width: 80px;
	$size-cell-padding-top-bottom: 7px;
	$size-cell-padding-left-right: 10px;
	$size-row-total-height: 76px;
	$size-rule-name-wrapper-height: 56px;

	$font-size-header: 1.2rem;
	$font-size-data: 1.1rem;

	width: 100%;
	height: 100%;
	overflow-y: scroll;



	table {
		width: 100%;
		border-collapse: collapse;
		margin:0;
		//box-shadow: 5px 5px 9px 1px #282b50;

		th, td{
			border: 2px solid $color-rules-table-border;
			padding: $size-cell-padding-top-bottom $size-cell-padding-left-right;
			height: 76px;
		}

		thead{
			th{
				font-size: $font-size-header;
				text-align: center;
				border: 2px solid $color-rules-table-header-border;
				background-color: $color-rules-table-header-bg;
				color: $color-rules-table-header-text;
				font-weight: bold;
			}
		}

		tbody {
			tr {
				td {
					font-size: $font-size-data;
					font-weight: normal;
					vertical-align: middle;
				}
			}
		}




		.col{
			&-actual{
				width: 130px;
			}
			&-overflow{
				width: 140px;
				&-set{
					padding-left: 18px;
					padding-right: 18px;
				}
			}
			&-rule-name{
				padding-top: 0px;
				padding-bottom: 0px;

				.rule-name-wrapper{
					padding-top: $size-cell-padding-top-bottom;
					padding-bottom: $size-cell-padding-top-bottom;
					height: $size-rule-name-wrapper-height;
					overflow: hidden;
				}

				.edit-trigger-btns-wrapper{

				}
			}
		}


		.rule-name-wrapper{
			width: calc(100% - #{$size-edit-btn-width + 14px});
			display: inline-block;
			float: left;
		}
		.edit-trigger-btns-wrapper{
			width: $size-edit-btn-width;
			float: right;
			height: 100%;

			.btn-group{
				margin-top: 18px;
			}

			button{
				//min-width: 80px;
			}
		}
	}





	.fake-empty-table{
		width: 100%;
		height: calc(100% - 100px);
		border: 2px solid $color-rules-table-border;
		border-top: 0px;

		.no-data-notice{
			text-align: center;
			margin: auto;
			position: relative;
			top: calc(50% - 3rem);
			font-size: 3rem;
			color: #ccc;
		}
	}


	.rule-editor-container{
		max-width: 600px;

		.modal-body{

		}

		.rule-to-edit-summary{
			text-align: center;
			font-size: 1.3rem;
			margin-bottom: 36px;

			label{
				font-weight: bold;
				margin: 0px;
				display: block;
			}
		}

		.rule-to-edit-editable-value{
			$size-input-fields-padding: 2px 6px;

			margin-top: 14px;

			&.actual-value{
				input{
					width: 100%;
					padding: $size-input-fields-padding;
				}

			}

			&.comment{
				textarea{
					padding: $size-input-fields-padding;
					width: 100%;
					min-height: 110px;
					max-height: 220px;
				}
			}
		}

		//.btn-trigger-next{
		//	position: absolute;
		//	left: 16px;
		//}
	}
}