<div class="table-container">
    <table>
        <thead>
        <tr>
            <th rowspan="1">Work Cell</th>
            <th rowspan="1">Work Unit</th>
            <th rowspan="1" class="col-actual">Actual</th>
            <th rowspan="1">Remaining</th>
            <th rowspan="1">Set</th>
            <th rowspan="1" class="col-overflow">Overflow Remaining</th>
            <th rowspan="1" class="col-overflow-set">Overflow Set</th>
            <th rowspan="1">Rule Type</th>
            <th rowspan="1" class="col-rule-name">Rule Name</th>
        </tr>
        <!--<tr>-->
            <!--<th>Remaining</th>-->
            <!--<th>Set</th>-->
        <!--</tr>-->
        </thead>
        <tbody>
        <tr *ngFor="let oRule of getRulesList(); trackBy: index;">
            <td>{{oRule.WorkCell}}</td>
            <td>{{oRule.WorkUnit}}</td>
            <td class="col-actual">{{oRule.getActualToString()}}</td>
            <td>{{oRule.getRemainingToString()}}</td>
            <td>{{oRule.getSetToString()}}</td>
            <td class="col-overflow">{{oRule.OverflowRemaining}}</td>
            <td class="col-overflow-set">{{oRule.OverflowSet}}</td>
            <td>{{oRule.getRuleType()}}</td>
            <td class="col-rule-name">
                <div class="rule-name-wrapper">{{oRule.Name}}</div>
                <div class="edit-trigger-btns-wrapper">
                    <!--<button class="float-right btn btn-ge-default" (click)="openEditRuleModal(oRule)"-->
                            <!--*ngIf="isEditButtonEnabled(oRule) == true">Edit-->
                    <!--</button>-->
                    <div class="btn-group" role="group" *ngIf="isEditButtonEnabled(oRule) == true">
                        <button type="button" class="btn btn-ge-secondary" (click)="openEditRuleModal(oRule)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-ge-secondary" (click)="openTriggerNextModal(oRule)"><i class="fa fa-play" aria-hidden="true"></i></button>
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="fake-empty-table" *ngIf="showEmptyDataBox() == true">
        <div class="no-data-notice">
            No data to display
        </div>
    </div>


    <!-- Modal to edit rules -->
    <div class="modal fade" id="editRuleModal" tabindex="-1" role="dialog" aria-labelledby="EditRuleModal"
         aria-hidden="true">
        <div class="modal-dialog rule-editor-container" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Edit rule</h5>-->
                <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-label="Close">&ndash;&gt;-->
                <!--&lt;!&ndash;<span aria-hidden="true">&times;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--</div>-->
                <div class="modal-body" *ngIf="getRuleToEdit() != null">
                    <div class="row rule-to-edit-summary">
                        <div class="col-8 text-left">
                            <label class="">Rule Name</label>
                            <div>{{getRuleToEdit().Name}}</div>
                        </div>
                        <div class="col-4 text-right">
                            <label>Set Value</label>
                            {{getRuleToEdit().getSetToString()}}
                        </div>
                    </div>
                    <div class="row rule-to-edit-editable-value actual-value" [hidden]="isDialogModeEditRule() == false">
                        <div class="col-4 text-left">Actual Value</div>
                        <div class="col-8 text-left">
                            <!-- On the base of rule type the value editor is different -->
                            <input type="number" *ngIf="isCounterRule() == true" [(ngModel)]="_oRuleToEdit.Actual">
                            <input type="text" *ngIf="isTimingRule() == true" ([ngModel])="_sActualAsStringForTimingRule">
                        </div>
                    </div>
                    <div class="row rule-to-edit-editable-value comment">
                        <div class="col-4 text-left">Comment</div>
                        <div class="col-8 text-left">
                            <textarea></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-ge-cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-ge-success" data-dismiss="modal"
                            (click)="onSaveRule()"
                            [hidden]="isDialogModeEditRule() == false">Save changes</button>
                    <button type="button" class="btn btn-ge-outline-primary btn-trigger-next" data-dismiss="modal"
                            (click)="onTriggerNext()"
                            [hidden]="isDialogModeTriggerNext() == false">Trigger next</button>
                </div>
            </div>
        </div>
    </div>

</div>