<div class="page-container loading-station-container">
    <div class="row col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <span class="nav-link active">Current Material View</span>
            </li>
            <li class="nav-item">
                <span class="nav-link">Sequence Material View</span>
            </li>
        </ul>
    </div>

    <div class="row col-lg-12">
        <div class="current-materials-list">
            <div class="material extended-info">
                <div class="box-wrapper">
                    <div class="box blue"><i class="fa fa-cube" aria-hidden="true"></i></div>
                    <div class="box-icon"></div>
                </div>
                <div class="material-info-wrapper">
                    <ul>
                        <li>M - 123456</li>
                        <li>V - VDORED</li>
                        <li>H - 0123456789ABCDEF0123456789</li>
                    </ul>
                </div>
            </div>
            <div class="material extended-info">
                <div class="box-wrapper">
                    <div class="box green"><i class="fa fa-cube" aria-hidden="true"></i></div>
                    <div class="box-icon info"><i class="fa fa-info" aria-hidden="true"></i></div>
                </div>
                <div class="material-info-wrapper">
                    <ul>
                        <li>M - 123456</li>
                        <li>V - VDORED</li>
                        <li>H - 0123456789ABCDEF0123456789</li>
                    </ul>
                </div>
            </div>
            <div class="material extended-info">
                <div class="box-wrapper">
                    <div class="box red"><i class="fa fa-cube" aria-hidden="true"></i></div>
                    <div class="box-icon warning"><i class="fa fa-warning" aria-hidden="true"></i></div>
                </div>
                <div class="material-info-wrapper">
                    <ul>
                        <li>M - 123456</li>
                        <li>V - VDORED</li>
                        <li>H - 0123456789ABCDEF0123456789</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12">
        <div class="incoming-materials-wrapper">
            <div class="next-material-wrapper">
                <div class="next-material-info">
                    <div>Next<i class="fa fa-caret-up padding-left"></i></div><span class="material-name">M - 0123456789</span></div>
                <div class="material">
                    <div class="box-wrapper">
                        <div class="box"><i class="fa fa-cube" aria-hidden="true"></i></div>
                        <div class="box-icon"></div>
                    </div>
                </div>
            </div>
            <div class="queued-materials-list">
                <div class="material">
                    <div class="box-wrapper">
                        <div class="box queued"><i class="fa fa-cube" aria-hidden="true"></i></div>
                        <div class="box-icon"></div>
                    </div>
                </div>
                <div class="material">
                    <div class="box-wrapper">
                        <div class="box queued"><i class="fa fa-cube" aria-hidden="true"></i></div>
                        <div class="box-icon"></div>
                    </div>
                </div>
                <div class="material">
                    <div class="box-wrapper">
                        <div class="box queued"><i class="fa fa-cube" aria-hidden="true"></i></div>
                        <div class="box-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>