.sorting-panel{
	.sort-condition{
		height: 48px;
		position: relative;
		display: inline-block;
		min-width: 80px;
		border: 1px solid #ccc;

		.sort-direction-wrapper{
			height: 100%;
			position: relative;
			width: 24px;
			margin-left: 2px;
			margin-right: 4px;
			background: antiquewhite; //debug

			.fa{
				font-size: 28px;
				position: absolute;
				left: 4px;
			}
			.fa-caret-up{
				top: -2px;
			}
			.fa-caret-down{
				bottom: -2px;
			}
		}
	}
}