
// Style element tag
sorting-panel{
	width: 100%;
}

// Style element classes
.sorting-panel{
	$size-sort-condition-height: 40px;
	$size-sort-condition-min-width: 80px;

	$size-sort-condition-buttons-padding-right: 4px;
	$size-sort-condition-buttons-padding-left: 4px;

	$size-sort-direction-wrapper-width: 24px;
	$size-sort-direction-wrapper-total-width: $size-sort-direction-wrapper-width + $size-sort-condition-buttons-padding-left + $size-sort-condition-buttons-padding-right;

	$size-sort-delete-wrapper-width: 24px;
	$size-sort-delete-wrapper-total-width: $size-sort-delete-wrapper-width + $size-sort-condition-buttons-padding-left + $size-sort-condition-buttons-padding-right;

	$size-sort-condition-caption-width: 120px;
	$size-sort-condition-caption-margin-left-right: 8px;
	$size-sort-condition-caption-total-width: $size-sort-condition-caption-width + ($size-sort-condition-caption-margin-left-right * 2);

	$size-sort-condition-border-thickness: 1px;
	$size-sort-condition-total-width: 	$size-sort-direction-wrapper-total-width
										+ $size-sort-condition-caption-total-width
										+ $size-sort-delete-wrapper-total-width
										+ ($size-sort-condition-border-thickness * 2);

	$size-dragula-bag-width: $size-sort-condition-total-width;


	width: 100%;
	position: relative;

	.dragula-bag{
		//padding: 8px;
		//background-color: #0c5460;
		height: $size-sort-condition-height;
		width: 100%;
	}

	.sort-condition-wrapper{
		float: left;
		height: $size-sort-condition-height;
		position: relative;

		& > div{
			float: left;
		}


		.static-arrow{
			height: 100%;
			width: 42px;
			text-align: center;
			//background-color: darkgoldenrod;
			color: $color-sort-order-arrow;
			padding: 8px;
			padding-top: 3px;
			font-size: 1.6rem;
		}


		&.dragula-bag-wrapper-last{
			.static-arrow {
				display: none !important;
			}
		}
	}


	.sort-condition{
		height: $size-sort-condition-height;
		position: relative;
		display: inline-block;
		border: $size-sort-condition-border-thickness solid $color-sort-condition-border;
		background-color: whitesmoke;
		width: $size-sort-condition-total-width;
		//border-radius: 0.2rem;
		border-radius: 0px;

		div{
			float: left;
		}

		.sort-direction-wrapper{
			height: 100%;
			position: relative;
			width: $size-sort-direction-wrapper-total-width;
			padding-left: $size-sort-condition-buttons-padding-left;
			padding-right: $size-sort-condition-buttons-padding-right;
			text-align: center;
			background-color: $color-sort-direction-bg;
			color: $color-sort-direction-arrow;
			@include clickable();

			.invisible{
				color: transparent;
			}

			.fa{
				font-size: 28px;
				position: relative;
			}
			.fa-caret-up{
				top: -2px;
			}
			.fa-caret-down{
				bottom: 10px;
			}
		}

		.sort-condition-caption-wrapper{
			//padding: 4px 8px;
			text-align: center;
			font-size: 1.2rem;
			width: $size-sort-condition-caption-width;
			height: 100%;
			min-width: 80px;

			p{
				text-transform: uppercase;
				font-size: 1rem;
			}

			// center vertically allow multiline text (+)
			padding: 4px 0px;
			margin: 0px $size-sort-condition-caption-margin-left-right;
			display: table;
			p {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				line-height: 18px;
			}
			// center vertically allow multiline text (+)

			&:hover{
				cursor: move;
			}
		}

		.delete-btn-wrapper{
			height: 100%;
			position: relative;
			width: $size-sort-delete-wrapper-total-width;
			padding-left: $size-sort-condition-buttons-padding-left;
			padding-right: $size-sort-condition-buttons-padding-right;
			text-align: center;
			font-size: 1.4rem;
			color: #888;
			padding-top: 2px;

			&:not(:hover){
				.fa-trash{
					display: none;
				}
			}

			@include clickable(){
				//color: #666;
				.fa-trash-o{
					display: none;
				}
			};

		}
	}
}

// Specific class for dragula element when it
// will be dragged
.sort-condition-wrapper.gu-mirror{
	//border: 1px solid $color-sort-condition-border;
	div{
		float: left;
	}

	.delete-btn-wrapper{
		padding-left: 4px;
		padding-right: 4px;
	}

	.static-arrow{
		display: none !important;
	}
}





//--------------OLD MODE----------------
//
//.sorting-panel{
//	$size-sort-condition-height: 48px;
//	$size-sort-condition-min-width: 80px;
//
//	$size-sort-condition-buttons-padding-right: 4px;
//	$size-sort-condition-buttons-padding-left: 4px;
//
//	$size-sort-direction-wrapper-width: 24px;
//	$size-sort-direction-wrapper-total-width: $size-sort-direction-wrapper-width + $size-sort-condition-buttons-padding-left + $size-sort-condition-buttons-padding-right;
//
//	$size-sort-delete-wrapper-width: 24px;
//	$size-sort-delete-wrapper-total-width: $size-sort-delete-wrapper-width + $size-sort-condition-buttons-padding-left + $size-sort-condition-buttons-padding-right;
//
//	$size-sort-condition-caption-width: 120px;
//	$size-sort-condition-caption-margin-left-right: 8px;
//	$size-sort-condition-caption-total-width: $size-sort-condition-caption-width + ($size-sort-condition-caption-margin-left-right * 2);
//
//	$size-sort-condition-border-thickness: 1px;
//	$size-sort-condition-total-width: 	$size-sort-direction-wrapper-total-width
//										+ $size-sort-condition-caption-total-width
//										+ $size-sort-delete-wrapper-total-width
//										+ ($size-sort-condition-border-thickness * 2);
//
//	$size-dragula-bag-width: $size-sort-condition-total-width;
//
//	.dragula-bag-wrapper{
//		float: left;
//		height: $size-sort-condition-height;
//		position: relative;
//
//		& > div{
//			float: left;
//		}
//
//		.dragula-bag{
//			//padding: 8px;
//			background-color: #0c5460;
//			height: 100%;
//			//min-width: $size-sort-condition-min-width;
//			width: $size-dragula-bag-width;
//		}
//
//		.static-arrow{
//			height: 100%;
//			//background-color: darkgoldenrod;
//			padding: 8px;
//			padding-top: 3px;
//			font-size: 1.6rem;
//		}
//
//
//		&.dragula-bag-wrapper-last{
//			.static-arrow {
//				display: none !important;
//			}
//		}
//	}
//
//
//	.sort-condition{
//		height: $size-sort-condition-height;
//		position: relative;
//		display: inline-block;
//		border: $size-sort-condition-border-thickness solid $color-sort-condition-border;
//		background-color: white;
//		width: $size-sort-condition-total-width;
//
//		div{
//			float: left;
//		}
//
//		.sort-direction-wrapper{
//			height: 100%;
//			position: relative;
//			width: $size-sort-direction-wrapper-total-width;
//			padding-left: $size-sort-condition-buttons-padding-left;
//			padding-right: $size-sort-condition-buttons-padding-right;
//			text-align: center;
//			background-color: #eeeeee;
//			@include clickable();
//
//			.invisible{
//				color: transparent;
//			}
//
//			.fa{
//				font-size: 28px;
//				position: relative;
//			}
//			.fa-caret-up{
//				top: -2px;
//			}
//			.fa-caret-down{
//				bottom: 10px;
//			}
//		}
//
//		.sort-condition-caption-wrapper{
//			//padding: 4px 8px;
//			text-align: center;
//			font-size: 1.2rem;
//			width: $size-sort-condition-caption-width;
//			height: 100%;
//			min-width: 80px;
//
//			// center vertically allow multiline text (+)
//			padding: 4px 0px;
//			margin: 0px $size-sort-condition-caption-margin-left-right;
//			display: table;
//			p {
//				display: table-cell;
//				vertical-align: middle;
//				text-align: center;
//				line-height: 18px;
//			}
//			// center vertically allow multiline text (+)
//
//			&:hover{
//				cursor: move;
//			}
//		}
//
//		.delete-btn-wrapper{
//			height: 100%;
//			position: relative;
//			width: $size-sort-delete-wrapper-total-width;
//			padding-left: $size-sort-condition-buttons-padding-left;
//			padding-right: $size-sort-condition-buttons-padding-right;
//			text-align: center;
//			font-size: 1.6rem;
//			color: #888;
//			padding-top: 1px;
//			@include clickable(){
//				color: #666;
//			};
//
//		}
//	}
//}
//
//// Specific class for dragula element when it
//// will be dragged
//.sort-condition.gu-mirror{
//	//border: 1px solid $color-sort-condition-border;
//	div{
//		float: left;
//	}
//
//	.delete-btn-wrapper{
//		padding-left: 4px;
//		padding-right: 4px;
//	}
//}
