
.btn-ge{
	&-default{
		border: 1px solid #666666;
	}

	&-cancel{
		color: $color-cancel-text;
		background-color: $color-cancel-bg;
		border-color: $color-cancel-border;

		&:hover{
			background-color: $color-cancel-bg-hover;
			border-color: $color-cancel-border-hover;
		}
	}
}

