
.btn-ge{
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 1.0px;
	text-transform: uppercase;
	border-radius: 0px;
	//padding-top: 7px;
	//padding-bottom: 7px;

	&:not(.no-icon-padding){
		.fa{
			@extend .padding-right;
		}
	}


	&-default{
		border: 1px solid darken($color-cimplicity-gray-light, 20%);
		background-color: $color-cimplicity-gray-light;
		&:hover{
			background-color: lighten($color-cimplicity-gray-light, 4%);
		}
	}

	&-primary{
		border: 1px solid #3288e6;
		background-color: #3288e6;
		color: whitesmoke;
		letter-spacing: 1.408px;

		&:hover{
			$color-hover: darken(#3288e6, 10%);
			background-color: $color-hover;
			border-color: $color-hover;
		}
	}

	&-outline-primary{
		border: 1px solid #3288e6;
		background-color: transparent;
		color: #3288e6;
		&:hover{
			$color-hover: darken(#3288e6, 10%);
			background-color: $color-hover;
			border-color: $color-hover;
			color: whitesmoke;
		}
	}

	&-secondary{
		border: 1px solid darken($color-cimplicity-gray-light, 20%);
		background-color: #ebebeb !important;
		&:hover{
			background-color: darken($color-cimplicity-gray-light, 10%) !important;
		}

		&-outline{

		}
	}


	&-success{
		border: 1px solid $color-cimplicity-blue-dark;
		background-color: #3f3fa0; //lighten($color-cimplicity-blue-dark, 10%);
		color: white;

		&:hover{
			//background-color: lighten($color-cimplicity-gray-light, 4%);
			background-color: $color-cimplicity-blue-dark;
		}
	}

	&-cancel{
		color: #333;
		border: 1px solid darken($color-cimplicity-gray-light, 20%);
		background-color: lighten($color-cimplicity-gray-light, 10%);
		&:hover{
			background-color: $color-cimplicity-gray-light;
		}
	}
}

