
.btn-ge{
	//font-size: 0.8rem;
	//font-weight: bold;
	font-size: 0.85rem;
	font-weight: $font-weight-roboto-medium;
	//letter-spacing: 1.0px;
	text-transform: uppercase;
	border-radius: 0px;
	border: 0;
	font-family: inherit;
	letter-spacing: .1em;
	line-height: 1em;
	padding: .75em 2em;

	&:not(.no-icon-padding){
		.fa{
			@extend .padding-right;
		}
	}


	&-default{
		border: 1px solid darken($color-cimplicity-gray-light, 20%);
		background-color: $color-cimplicity-gray-light;
		&:hover{
			background-color: lighten($color-cimplicity-gray-light, 4%);
		}
	}

	&-primary{
		border: 1px solid $color-primary;
		background-color: $color-primary;
		color: whitesmoke;
		letter-spacing: 1.408px;

		&:hover{
			$color-hover: darken($color-primary, 10%);
			background-color: $color-hover;
			border-color: $color-hover;
		}
	}

	&-outline-primary{
		border: 1px solid $color-primary;
		background-color: transparent;
		color: $color-primary;
		&:hover{
			$color-hover: darken($color-primary, 10%);
			background-color: $color-hover;
			border-color: $color-hover;
			color: whitesmoke;
		}
	}

	&-secondary{
		color: #555;
		border: $color-cimplicity-gray-light;
		background-color: $color-cimplicity-gray-light;
		&:hover{
			background-color: darken($color-cimplicity-gray-light, 6%);
		}
	}

	&-secondary-outline{
		color: $color-cimplicity-gray-light;
		border: 1px solid darken($color-cimplicity-gray-light, 20%);
		background-color: transparent;
		&:hover{
			color: #555;
			background-color: darken($color-cimplicity-gray-light, 6%);
		}
	}


	&-success{
		@extend .btn-ge-primary;
		//border: 1px solid $color-cimplicity-blue-dark;
		//background-color: #3f3fa0; //lighten($color-cimplicity-blue-dark, 10%);
		//color: white;
		//
		//&:hover{
		//	//background-color: lighten($color-cimplicity-gray-light, 4%);
		//	background-color: $color-cimplicity-blue-dark;
		//}
	}

	&-cancel{
		color: #555;
		border: 1px solid darken($color-cimplicity-gray-light, 20%);
		background-color: lighten($color-cimplicity-gray-light, 10%);
		&:hover{
			background-color: $color-cimplicity-gray-light;
		}
	}
}

