.filters-panel-wrapper{
    $size-btn-close-panel-height: 32px;
    $size-panel-height: 500px + $size-btn-close-panel-height;
    $size-panel-border-radius: 20px;
    $size-panel-shadow-thickness: 20px;

    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -($size-panel-height + $size-panel-shadow-thickness + 2px);
    height: $size-panel-height;
    transition: 0.4s all ease-in-out;
    padding: 10px 30px;
    padding-top: 30px + $size-btn-close-panel-height;

    background: $color-filters-panel-bg;
    box-shadow: 0px 0px $size-panel-shadow-thickness $color-filters-panel-shadow;
    z-index: $z-index-rules-report-filters-panel;

    //background: rgba(46,46,46,1);
    //background: -moz-linear-gradient(-45deg, rgba(46,46,46,1) 0%, rgba(112,112,112,0.98) 55%, rgba(66,65,65,0.96) 100%);
    //background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(46,46,46,1)), color-stop(55%, rgba(112,112,112,0.98)), color-stop(100%, rgba(66,65,65,0.96)));
    //background: -webkit-linear-gradient(-45deg, rgba(46,46,46,1) 0%, rgba(112,112,112,0.98) 55%, rgba(66,65,65,0.96) 100%);
    //background: -o-linear-gradient(-45deg, rgba(46,46,46,1) 0%, rgba(112,112,112,0.98) 55%, rgba(66,65,65,0.96) 100%);
    //background: -ms-linear-gradient(-45deg, rgba(46,46,46,1) 0%, rgba(112,112,112,0.98) 55%, rgba(66,65,65,0.96) 100%);
    //background: linear-gradient(135deg, rgba(46,46,46,1) 0%, rgba(112,112,112,0.98) 55%, rgba(66,65,65,0.96) 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#424141', GradientType=1 );



    &.visible{
        bottom: 0px;
    }


    //.col-ge-report-filter{
    //    width: 20%;
    //}

    .close-filters-panel-btn-wrapper{
        height: $size-btn-close-panel-height;
        text-transform: uppercase;
        color: #aaaaaa;

        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        border-bottom: 1px solid #888;
        text-align: center;
        padding: 6px;

        @include clickable(){
            background-color: rgba(250,250,250, 0.2);
        }
    }


    .advanced-dropdown {
        .button-group {
            width: 100%;
        }

        .dropdown-menu{
            width: 88%;
        }

        .advanced-dropdown-caption{
            color: $color-advanced-dropdown-caption;
        }

        .fa{
            color: #444;
        }
    }


    .clear-all-filters-btn{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }


    .sorting-panel{
        label{
            color: $color-sort-panel-label;
        }
    }
}

