.rule-editor-container{
	max-width: 600px;

	.modal-body{
		
	}

	.rule-to-edit-summary{
		text-align: center;
		margin-bottom: 20px;

		label{
			font-weight: bold;
			margin: 0px;
			display: block;
		}
	}

	.rule-to-edit-editable-value{
		margin-top: 14px;

		&.actual-value{
			input{
				width: 100%;
			}

		}

		&.comment{
			textarea{
				width: 100%;
				min-height: 110px;
				max-height: 220px;
			}
		}
	}

	.btn-trigger-next{
		position: absolute;
		left: 16px;
	}
}