
.station-display-container{
    $size-filters-bar-height: 46px;
    $size-filters-bar-margin-bottom: 0px;
    $size-filters-bar-total-height: $size-filters-bar-height + $size-filters-bar-margin-bottom;

    $size-orderby-bar-height: 0px;
    $size-orderby-bar-margin-bottom: 0px;
    $size-orderby-bar-total-height: $size-filters-bar-height + $size-filters-bar-margin-bottom;


    .station-toolbar{
        height: $size-filters-bar-height;
        margin-bottom: $size-filters-bar-margin-bottom;
    }

    .table-container{
        // override default table container height
        height: calc(100% - #{$size-filters-bar-total-height + $size-orderby-bar-total-height});
    }

    .search-toolbar-wrapper{
        padding-right: 0px;
        & > .col{
            padding: 0px;
        }

        .report-autorefresh-configurator-container{
            max-width: 246px;
            text-align: left;
            //float: left;
            position: relative;
            //top: -4px;
            //display: inline-block;
            padding-top: 4px;

            .report-autorefresh-summary{
                float: right;
                width: 60px;
                height: 100%;
            }

            .search-btn-wrapper{
                padding-right: 0px;
                max-width: 160px;
            }

            mat-slide-toggle{
                margin-right: 10px;
            }

            &:not(.fa){
                font-size: 0.9rem;
            }

            .fa-toggle{
                &-off{color: #ccc;}
                &-on{color: $color-green-ok-accept-etc-bg;}
                &-on, &-off{
                    font-size: 1.1rem;
                    position: relative;
                    top: 1px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        & > div{
            button{
                float: right;
            }
        }
    }


    .pagination-container{
        margin: 10px 0px;
        text-align: center;
        position: relative;

        //.mat-form-field-infix{
        //    padding-top: 0px;
        //}
        .mat-paginator{
            color: #333;
        }

        .pagination-changer{

            span{
                width: 60px;
                display: inline-block;
                font-size: 1.2rem;
            }
            .fa{
                margin-left: 10px;
                margin-right: 10px;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .pagination-summary-configurator{
            position: absolute;
            right: 0px;
            top: 4px;
        }
    }
}