//**************************************************************
//		OFFICIAL CIMPLICITY/VOLVO PALETTE
$color-cimplicity-blue-dark: #010086;
$color-cimplicity-blue-light: #0000c6;
$color-cimplicity-gray-light: #e1e1e1;
$color-cimplicity-btn-hover-dark: #75b2f1;
$color-cimplicity-btn-hover-light: #bcd8f6;
$color-cimplicity-text: whitesmoke;

$color-rule-cell-green-bg: #559541 !default;
$color-rule-cell-green-text : whitesmoke !default;
$color-rule-cell-yellow-bg: #fff399 !default;
$color-rule-cell-yellow-text : black !default;
$color-rule-cell-red-bg: #d12929 !default;
$color-rule-cell-red-text : whitesmoke !default;
//**************************************************************

//**************************************************************
//		ANGULAR MATERIAL CUSTOM PALETTE
// See into 'angular_material' folder of 'style' dir
//**************************************************************



//**************************************************************
// PALETTE - OTHERS COMMON COLOR
$color-cancel-text			: #da4949 !default;
$color-cancel-bg			: #dc3545 !default;
$color-cancel-border		: #dc3545 !default;
$color-cancel-bg-hover		: #c82333 !default;
$color-cancel-border-hover	: #bd2130 !default;

$color-green-ok-accept-etc-bg	: #28a745 !default;

$color-red-error-text			:#da4949 !default;


$color-primary: #3288e6;
$color-primary-light: #a9cdf4;
//**************************************************************


// RULES TABLE
$color-rules-table-border					: #ccc !default;	//#2b2b5e;
$color-rules-table-header-border			: #aaa !default;						//#2b2b5e;
$color-rules-table-header-bg				: #e0e0e0 !default;	//#5076b7;
$color-rules-table-header-text				: #555 !default;;
$color-rules-table-highlighted-header-blue	: $color-primary-light;
$color-rules-table-column-separator-blue	: darken($color-rules-table-highlighted-header-blue, 10%);


// FILTERS PANEL
$color-filters-panel-bg		: hsla(211, 52%, 52%, 0.95) !default;
$color-filters-panel-shadow	: #495057 !default;


// SORTING PANEL
$color-sort-panel-label: whitesmoke !default;
$color-sort-direction-bg: #eeeeee !default;
$color-sort-direction-arrow: #444 !default;
$color-sort-condition-border: #ccc !default;
$color-sort-order-arrow: #cccccc !default;

// ADVANCED DROPDOWN
$color-advanced-dropdown-caption: whitesmoke !default;
$color-advanced-dropdown-option-selected-bg: $color-primary !default;
$color-advanced-dropdown-option-selected-text: whitesmoke !default;
$color-advanced-dropdown-option-hover-bg: $color-cimplicity-btn-hover-light !default;
$color-advanced-dropdown-option-hover-text : #333 !default;


// MATERIAL for loading station (cube, info, etc.)
$color-material-cube-blue           : $color-primary-light;
$color-material-cube-green          : $color-rule-cell-green-bg;
$color-material-cube-red            : lighten($color-rule-cell-red-bg, 21%);
$color-material-cube-next           : #b45f00;
$color-material-cube-queued         : #aaa;
$color-material-cube-icon-warning   : darken($color-rule-cell-red-bg, 10%);
$color-material-cube-icon-info      : #ffaa00;



// LOADING SCREEN
// For the loading screen spinning circle use Volvo logo color palette
$color-loading-screen-spinning-circle-external: #e2e2e2 !default; 	//#3498db;
$color-loading-screen-spinning-circle-medium: 	#cfcfcf !default;	//#e74c3c;
$color-loading-screen-spinning-circle-internal: #a8a8a8 !default;	//#f9c922;


@import "theme_improved";