//**************************************************************
//		OFFICIAL CIMPLICITY/VOLVO PALETTE
$color-cimplicity-blue-dark: #010086;
$color-cimplicity-blue-light: #0000c6;
$color-cimplicity-gray-light: #e1e1e1;
$color-cimplicity-btn-hover-dark: #75b2f1;
$color-cimplicity-btn-hover-light: #bcd8f6;
$color-cimplicity-text: whitesmoke;
//**************************************************************


$color-cancel-text: #fff;
$color-cancel-bg: #dc3545;
$color-cancel-border: #dc3545;
$color-cancel-bg-hover: #c82333;
$color-cancel-border-hover: #bd2130;

$color-green-ok-accept-etc-bg: #28a745;


$color-rules-table-border: 			$color-cimplicity-blue-dark;	//#2b2b5e;
$color-rules-table-header-border: 	#5076b7;						//#2b2b5e;
$color-rules-table-header-bg: 		$color-cimplicity-blue-dark;	//#5076b7;
$color-rules-table-header-text: 	whitesmoke;


// For the loading screen spinning circle use Volvo logo color palette
$color-loading-screen-spinning-circle-external: #e2e2e2; 	//#3498db;
$color-loading-screen-spinning-circle-medium: 	#cfcfcf;	//#e74c3c;
$color-loading-screen-spinning-circle-internal: #a8a8a8;	//#f9c922;