$color-rules-table-border: 	#b6cdf5;


// SORTING PANEL
$color-sort-panel-label: whitesmoke;
$color-sort-arrow: #cccccc;

// ADVANCED DROPDOWN
$color-advanced-dropdown-caption: whitesmoke;

// FILTERS PANEL
$color-filters-panel-bg		: #6c757d;
$color-filters-panel-shadow	: #495057;