$color-rules-table-border: #2b2b5e;
$color-rules-table-header-bg: #5076b7;
$color-rules-table-header-text: whitesmoke;


// For the loading screen spinning circle use Volvo logo color palette
$color-loading-screen-spinning-circle-external: #e2e2e2; 	//#3498db;
$color-loading-screen-spinning-circle-medium: 	#cfcfcf;	//#e74c3c;
$color-loading-screen-spinning-circle-internal: #a8a8a8;	//#f9c922;