//*********************************************************************************************
//	SOME USEFULL CSS TRICKS
//
//	Center vertically (with multiline text too)
//	https://css-tricks.com/vertically-center-multi-lined-text/
//
//*********************************************************************************************

@import "vars";
@import "mixins";
@import "theme";
@import "z_indices";

@import "bootstrap_override";
@import "bootstrap_legacy";
@import "vex_extra_styles";

@import "../app/components/loading_screen/loading_screen";

.padding-right{ padding-right: 8px; }
.padding-left{ padding-left: 8px; }

@import "buttons";
@import "app";
@import "station";
@import "report_rules_filters_panel";
@import "../app/components/rules_report_table/rules_report_table";
@import "../app/components/advanced_dropdown/advanced_dropdown";
@import "../app/components/sorting_panel/sorting_panel";

body{
	overflow: hidden;
	font-family: "Helvetica Neue", sans-serif;
}

.clickable{
	&:hover{
		cursor: pointer;
	}
}


// Create some classes to use to specify how many columns
// a 'bootstrap' row will has
@for $i from 1 through 10 {
	.row-ge-has-#{$i}-cols {
		.col {
			width: 0% + 100/$i;
		}
	}
}