/*
 * Generate the animation CSS to match all browsers selectors
 */
/*
 * Set height = width for the element which use it
 */
.btn:focus {
  box-shadow: none !important; }

.vex .vex-dialog-top-bar {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px; }
  .vex .vex-dialog-top-bar .fa {
    font-size: 24px; }
    .vex .vex-dialog-top-bar .fa.confirm-dialog-icon {
      color: #31708f; }
    .vex .vex-dialog-top-bar .fa.error {
      color: #bd2130; }
  .vex .vex-dialog-top-bar span {
    font-size: 1.4rem;
    position: relative;
    top: -2px; }
.vex .vex-custom-content {
  margin-bottom: 10px; }

.loading-screen-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .loading-screen-container:not(.main-app-loading) {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000; }
  .loading-screen-container.main-app-loading #loadingScreenMessage {
    color: #888;
    bottom: 110px; }
  .loading-screen-container.main-app-loading .loading-screen-content {
    margin-top: 16%; }
  .loading-screen-container .loading-screen-content {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    position: relative; }
    .loading-screen-container .loading-screen-content .logo {
      width: 144px;
      height: 144px;
      background-image: url("../assets/images/volvo-logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto; }
  .loading-screen-container #loadingScreenMessage {
    bottom: 30px;
    position: absolute;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 1.3rem; }
  .loading-screen-container .loader-container {
    background-color: rgba(200, 200, 200, 0.4);
    width: 250px;
    height: 250px;
    margin: auto; }
  .loading-screen-container #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 22px;
    z-index: 1001;
    margin: -75px 0 0 -75px;
    width: 250px;
    height: 250px;
    border-top-color: #e2e2e2 !important;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; }
    .loading-screen-container #loader, .loading-screen-container #loader:before, .loading-screen-container #loader:after {
      border-radius: 50%;
      border: 3px solid transparent; }
    .loading-screen-container #loader:before, .loading-screen-container #loader:after {
      content: "";
      position: absolute; }
    .loading-screen-container #loader:before {
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-top-color: #cfcfcf;
      -webkit-animation: spin 3s linear infinite;
      -moz-animation: spin 3s linear infinite;
      -ms-animation: spin 3s linear infinite;
      -o-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite; }
    .loading-screen-container #loader:after {
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-top-color: #a8a8a8;
      -webkit-animation: spin 2s linear infinite;
      -moz-animation: spin 2s linear infinite;
      -ms-animation: spin 2s linear infinite;
      -o-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
.padding-right, .btn-ge:not(.no-icon-padding) .fa {
  padding-right: 8px; }

.padding-left {
  padding-left: 8px; }

.btn-ge {
  font-size: 1rem;
  font-weight: bold; }
  .btn-ge-default {
    border: 1px solid #aeaeae;
    background-color: #e1e1e1; }
    .btn-ge-default:hover {
      background-color: #ebebeb; }
  .btn-ge-primary {
    border: 1px solid #aeaeae;
    background-color: #e1e1e1;
    color: #010086; }
    .btn-ge-primary:hover {
      background-color: #bcd8f6;
      border-color: #75b2f1; }
  .btn-ge-outline-primary {
    border: 1px solid #010086;
    background-color: transparent;
    color: #010086; }
    .btn-ge-outline-primary:hover {
      background-color: #010086;
      color: whitesmoke; }
  .btn-ge-secondary {
    border: 1px solid #aeaeae;
    background-color: #ebebeb !important; }
    .btn-ge-secondary:hover {
      background-color: #c8c8c8 !important; }
  .btn-ge-success {
    border: 1px solid #010086;
    background-color: #3f3fa0;
    color: white; }
    .btn-ge-success:hover {
      background-color: #010086; }
  .btn-ge-cancel {
    color: #333;
    border: 1px solid #aeaeae;
    background-color: #fbfbfb; }
    .btn-ge-cancel:hover {
      background-color: #e1e1e1; }

.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 20px; }

.station-display-container {
  width: 100%;
  height: 100%; }
  .station-display-container .filters-container {
    height: 46px;
    margin-bottom: 10px; }
  .station-display-container .table-container {
    height: calc(100% - 112px); }
  .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container {
    width: 260px;
    text-align: left;
    float: left;
    position: relative;
    top: -4px; }
    .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container:not(.fa) {
      font-size: 0.9rem; }
    .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-off {
      color: #ccc; }
    .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-on {
      color: #28a745; }
    .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-on, .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-off {
      font-size: 1.1rem;
      position: relative;
      top: 1px; }
      .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-on:hover, .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-off:hover {
        cursor: pointer; }
  .station-display-container .search-toolbar-wrapper > div button {
    float: right; }
  .station-display-container .pagination-container {
    margin: 10px 0px;
    text-align: center;
    position: relative; }
    .station-display-container .pagination-container .pagination-changer span {
      width: 60px;
      display: inline-block;
      font-size: 1.2rem; }
    .station-display-container .pagination-container .pagination-changer .fa {
      margin-left: 10px;
      margin-right: 10px; }
      .station-display-container .pagination-container .pagination-changer .fa:hover {
        cursor: pointer; }
    .station-display-container .pagination-container .pagination-summary-configurator {
      position: absolute;
      right: 0px;
      top: 4px; }

.table-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-bottom: 1px solid #ccc; }
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 0; }
    .table-container table th, .table-container table td {
      border: 1px solid #b6cdf5;
      padding: 7px 10px;
      height: 76px; }
    .table-container table thead th {
      font-size: 1.2rem;
      text-align: center;
      border: 1px solid #5076b7;
      background-color: #010086;
      color: whitesmoke;
      font-weight: bold; }
    .table-container table tbody tr td {
      font-size: 1.1rem;
      font-weight: normal;
      vertical-align: middle; }
    .table-container table .col-actual {
      width: 130px; }
    .table-container table .col-overflow, .table-container table .col-overflow-set {
      width: 140px; }
      .table-container table .col-overflow-set {
        padding-left: 18px;
        padding-right: 18px; }
    .table-container table .col-rule-name {
      padding-top: 0px;
      padding-bottom: 0px; }
      .table-container table .col-rule-name .rule-name-wrapper {
        padding-top: 9px;
        padding-bottom: 7px;
        height: 56px;
        overflow: hidden; }
    .table-container table .col-allow-sorting {
      text-decoration: underline; }
      .table-container table .col-allow-sorting:hover {
        cursor: pointer; }
    .table-container table .cell-actual-equals-to-set {
      background-color: #008040;
      color: whitesmoke; }
    .table-container table .cell-warning {
      background-color: ffea51; }
    .table-container table .cell-no-more-overflow-available {
      background-color: rgba(194, 0, 0, 0.91);
      color: whitesmoke; }
    .table-container table .rule-name-wrapper {
      width: calc(100% - 94px);
      display: inline-block;
      float: left; }
    .table-container table .edit-trigger-btns-wrapper {
      width: 80px;
      float: right;
      height: 100%; }
      .table-container table .edit-trigger-btns-wrapper .btn-group {
        margin-top: 18px; }
  .table-container .fake-empty-table {
    width: 100%;
    height: calc(100% - 77px);
    border: 2px solid #b6cdf5;
    border-top: 0px;
    border-bottom: 0px; }
    .table-container .fake-empty-table .no-data-notice {
      text-align: center;
      margin: auto;
      position: relative;
      top: calc(50% - 3rem);
      font-size: 3rem;
      color: #ccc; }
  .table-container .rule-editor-container {
    max-width: 600px; }
    .table-container .rule-editor-container .rule-to-edit-summary {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 36px; }
      .table-container .rule-editor-container .rule-to-edit-summary label {
        font-weight: bold;
        margin: 0px;
        display: block; }
    .table-container .rule-editor-container .rule-to-edit-editable-value {
      margin-top: 14px; }
      .table-container .rule-editor-container .rule-to-edit-editable-value.actual-value input {
        width: 100%;
        padding: 2px 6px; }
      .table-container .rule-editor-container .rule-to-edit-editable-value.comment textarea {
        padding: 2px 6px;
        width: 100%;
        min-height: 110px;
        max-height: 220px; }

.clickable:hover {
  cursor: pointer; }

/*# sourceMappingURL=site.css.map */
