/*
 * Generate the animation CSS to match all browsers selectors
 */
/*
 * Set height = width for the element which use it
 */
.btn:focus {
  box-shadow: none !important; }

.vex .vex-dialog-top-bar {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px; }
  .vex .vex-dialog-top-bar .fa {
    font-size: 24px; }
    .vex .vex-dialog-top-bar .fa.confirm-dialog-icon {
      color: #31708f; }
    .vex .vex-dialog-top-bar .fa.error {
      color: #bd2130; }
  .vex .vex-dialog-top-bar span {
    font-size: 1.4rem;
    position: relative;
    top: -2px; }
.vex .vex-custom-content {
  margin-bottom: 10px; }

.loading-screen-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
  .loading-screen-container:not(.main-app-loading) {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000; }
  .loading-screen-container.main-app-loading #loadingScreenMessage {
    color: #888;
    bottom: 110px; }
  .loading-screen-container.main-app-loading .loading-screen-content {
    margin-top: 16%; }
  .loading-screen-container .loading-screen-content {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    position: relative; }
    .loading-screen-container .loading-screen-content .logo {
      width: 144px;
      height: 144px;
      background-image: url("../assets/images/volvo-logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto; }
  .loading-screen-container #loadingScreenMessage {
    bottom: 30px;
    position: absolute;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 1.3rem; }
  .loading-screen-container .loader-container {
    background-color: rgba(200, 200, 200, 0.4);
    width: 250px;
    height: 250px;
    margin: auto; }
  .loading-screen-container #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 22px;
    z-index: 1001;
    margin: -75px 0 0 -75px;
    width: 250px;
    height: 250px;
    border-top-color: #e2e2e2 !important;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; }
    .loading-screen-container #loader, .loading-screen-container #loader:before, .loading-screen-container #loader:after {
      border-radius: 50%;
      border: 3px solid transparent; }
    .loading-screen-container #loader:before, .loading-screen-container #loader:after {
      content: "";
      position: absolute; }
    .loading-screen-container #loader:before {
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-top-color: #cfcfcf;
      -webkit-animation: spin 3s linear infinite;
      -moz-animation: spin 3s linear infinite;
      -ms-animation: spin 3s linear infinite;
      -o-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite; }
    .loading-screen-container #loader:after {
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-top-color: #a8a8a8;
      -webkit-animation: spin 2s linear infinite;
      -moz-animation: spin 2s linear infinite;
      -ms-animation: spin 2s linear infinite;
      -o-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
.padding-right, .btn-ge:not(.no-icon-padding) .fa {
  padding-right: 8px; }

.padding-left {
  padding-left: 8px; }

.btn-ge {
  font-size: 1rem;
  font-weight: bold; }
  .btn-ge-default {
    border: 1px solid #aeaeae;
    background-color: #e1e1e1; }
    .btn-ge-default:hover {
      background-color: #ebebeb; }
  .btn-ge-primary {
    border: 1px solid #aeaeae;
    background-color: #e1e1e1;
    color: #010086; }
    .btn-ge-primary:hover {
      background-color: #bcd8f6;
      border-color: #75b2f1; }
  .btn-ge-outline-primary {
    border: 1px solid #010086;
    background-color: transparent;
    color: #010086; }
    .btn-ge-outline-primary:hover {
      background-color: #010086;
      color: whitesmoke; }
  .btn-ge-secondary {
    border: 1px solid #aeaeae;
    background-color: #ebebeb !important; }
    .btn-ge-secondary:hover {
      background-color: #c8c8c8 !important; }
  .btn-ge-success {
    border: 1px solid #010086;
    background-color: #3f3fa0;
    color: white; }
    .btn-ge-success:hover {
      background-color: #010086; }
  .btn-ge-cancel {
    color: #333;
    border: 1px solid #aeaeae;
    background-color: #fbfbfb; }
    .btn-ge-cancel:hover {
      background-color: #e1e1e1; }

.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 20px; }

.station-display-container {
  width: 100%;
  height: 100%; }
  .station-display-container .filters-container {
    height: 46px;
    margin-bottom: 10px; }
  .station-display-container .table-container {
    height: calc(100% - 112px); }
  .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container {
    width: 260px;
    text-align: left;
    float: left;
    position: relative;
    top: -4px; }
    .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container:not(.fa) {
      font-size: 0.9rem; }
    .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-off {
      color: #ccc; }
    .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-on {
      color: #28a745; }
    .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-on, .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-off {
      font-size: 1.1rem;
      position: relative;
      top: 1px; }
      .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-on:hover, .station-display-container .search-toolbar-wrapper > div .report-autorefresh-configurator-container .fa-toggle-off:hover {
        cursor: pointer; }
  .station-display-container .search-toolbar-wrapper > div button {
    float: right; }
  .station-display-container .pagination-container {
    margin: 10px 0px;
    text-align: center;
    position: relative; }
    .station-display-container .pagination-container .pagination-changer span {
      width: 60px;
      display: inline-block;
      font-size: 1.2rem; }
    .station-display-container .pagination-container .pagination-changer .fa {
      margin-left: 10px;
      margin-right: 10px; }
      .station-display-container .pagination-container .pagination-changer .fa:hover {
        cursor: pointer; }
    .station-display-container .pagination-container .pagination-summary-configurator {
      position: absolute;
      right: 0px;
      top: 4px; }

.filters-panel-wrapper {
  position: absolute;
  top: -522px;
  left: 10%;
  right: 10%;
  height: 500px;
  transition: 0.4s all ease-in-out;
  padding: 10px 30px;
  padding-top: 30px;
  background: whitesmoke;
  box-shadow: 0px 0px 20px #010086;
  z-index: 10;
  border-radius: 0px 0px 20px 20px; }
  .filters-panel-wrapper.visible {
    top: 0px; }
  .filters-panel-wrapper .col-ge-report-filter {
    width: 20%; }
  .filters-panel-wrapper .advanced-dropdown .button-group {
    width: 100%; }
  .filters-panel-wrapper .advanced-dropdown .dropdown-menu {
    width: 88%; }
  .filters-panel-wrapper .clear-all-filters-btn {
    position: absolute;
    bottom: -2px;
    right: 0px; }

.table-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-bottom: 1px solid #ccc; }
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 0; }
    .table-container table th, .table-container table td {
      border: 1px solid #b6cdf5;
      padding: 7px 10px;
      height: 76px; }
    .table-container table thead th {
      font-size: 1.2rem;
      text-align: center;
      border: 1px solid #5076b7;
      background-color: #010086;
      color: whitesmoke;
      font-weight: bold; }
    .table-container table tbody tr td {
      font-size: 1.1rem;
      font-weight: normal;
      vertical-align: middle; }
    .table-container table .col-actual {
      width: 130px; }
    .table-container table .col-overflow, .table-container table .col-overflow-set {
      width: 140px; }
      .table-container table .col-overflow-set {
        padding-left: 18px;
        padding-right: 18px; }
    .table-container table .col-rule-name {
      padding-top: 0px;
      padding-bottom: 0px; }
      .table-container table .col-rule-name .rule-name-wrapper {
        padding-top: 9px;
        padding-bottom: 7px;
        height: 56px;
        overflow: hidden; }
    .table-container table .col-allow-sorting {
      text-decoration: underline; }
      .table-container table .col-allow-sorting:hover {
        cursor: pointer; }
    .table-container table .cell-actual-equals-to-set {
      background-color: #008040;
      color: whitesmoke; }
    .table-container table .cell-warning {
      background-color: #ffea51; }
    .table-container table .cell-no-more-overflow-available {
      background-color: rgba(194, 0, 0, 0.91);
      color: whitesmoke; }
    .table-container table .rule-name-wrapper {
      width: calc(100% - 94px);
      display: inline-block;
      float: left; }
    .table-container table .edit-trigger-btns-wrapper {
      width: 80px;
      float: right;
      height: 100%; }
      .table-container table .edit-trigger-btns-wrapper .btn-group {
        margin-top: 18px; }
  .table-container .fake-empty-table {
    width: 100%;
    height: calc(100% - 77px);
    border: 2px solid #b6cdf5;
    border-top: 0px;
    border-bottom: 0px; }
    .table-container .fake-empty-table .no-data-notice {
      text-align: center;
      margin: auto;
      position: relative;
      top: calc(50% - 3rem);
      font-size: 3rem;
      color: #ccc; }
  .table-container .rule-editor-container {
    max-width: 600px; }
    .table-container .rule-editor-container .rule-to-edit-summary {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 36px; }
      .table-container .rule-editor-container .rule-to-edit-summary label {
        font-weight: bold;
        margin: 0px;
        display: block; }
    .table-container .rule-editor-container .rule-to-edit-editable-value {
      margin-top: 14px; }
      .table-container .rule-editor-container .rule-to-edit-editable-value.actual-value input {
        width: 100%;
        padding: 2px 6px; }
      .table-container .rule-editor-container .rule-to-edit-editable-value.comment textarea {
        padding: 2px 6px;
        width: 100%;
        min-height: 110px;
        max-height: 220px; }

.advanced-dropdown.disabled .button-group {
  opacity: 0.3; }
.advanced-dropdown.disabled .dropdown-menu {
  display: none !important; }
.advanced-dropdown-caption.inline {
  position: relative;
  display: inline-block;
  top: 2px;
  margin-right: 8px; }
.advanced-dropdown .button-group {
  display: inline-block;
  min-width: 160px; }
  .advanced-dropdown .button-group button {
    height: 32px; }
  .advanced-dropdown .button-group .fa-filter {
    float: left;
    padding-top: 3px; }
  .advanced-dropdown .button-group .dropdown-toggle {
    width: 100%; }
    .advanced-dropdown .button-group .dropdown-toggle::after {
      margin-top: 0.6em;
      float: right; }
.advanced-dropdown .advanced-dropdown-summary {
  display: inline-block;
  width: calc(100% - 40px);
  margin-right: 4px;
  overflow: hidden; }
.advanced-dropdown .dropdown-menu {
  padding: 0px;
  overflow: hidden;
  border-color: #aaa; }
  .advanced-dropdown .dropdown-menu .dropdown-search-option {
    padding: 6px 10px;
    background-color: #eee;
    height: 46px; }
    .advanced-dropdown .dropdown-menu .dropdown-search-option input {
      padding: 2px 6px;
      width: 100%; }
  .advanced-dropdown .dropdown-menu .dropdown-option-list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0px;
    list-style: none;
    padding: 0px;
    min-height: 36px; }
    .advanced-dropdown .dropdown-menu .dropdown-option-list .dropdown-option {
      padding: 6px;
      border-bottom: 1px solid #ccc; }
      .advanced-dropdown .dropdown-menu .dropdown-option-list .dropdown-option:hover {
        cursor: pointer;
        background-color: #bcd8f6;
        color: #333; }
      .advanced-dropdown .dropdown-menu .dropdown-option-list .dropdown-option:last-of-type {
        border-bottom: 0px; }
      .advanced-dropdown .dropdown-menu .dropdown-option-list .dropdown-option .fa {
        color: transparent; }
      .advanced-dropdown .dropdown-menu .dropdown-option-list .dropdown-option.selected {
        background-color: #010086;
        color: whitesmoke; }
        .advanced-dropdown .dropdown-menu .dropdown-option-list .dropdown-option.selected .fa {
          color: whitesmoke; }
  .advanced-dropdown .dropdown-menu .dropdown-extra-buttons-container-bottom {
    height: 46px;
    background-color: #eee; }
    .advanced-dropdown .dropdown-menu .dropdown-extra-buttons-container-bottom > div {
      text-align: center;
      padding-top: 10px;
      float: left;
      height: 100%; }
      .advanced-dropdown .dropdown-menu .dropdown-extra-buttons-container-bottom > div.half-width {
        width: 50%; }
      .advanced-dropdown .dropdown-menu .dropdown-extra-buttons-container-bottom > div.full-width {
        width: 100%; }
      .advanced-dropdown .dropdown-menu .dropdown-extra-buttons-container-bottom > div:not(:last-of-type) {
        border-right: 1px solid #aaa; }
      .advanced-dropdown .dropdown-menu .dropdown-extra-buttons-container-bottom > div:hover {
        background-color: #d5d5d5;
        cursor: pointer; }
    .advanced-dropdown .dropdown-menu .dropdown-extra-buttons-container-bottom .dropdown-clear-all-selected-option {
      text-align: center;
      padding-top: 10px; }
      .advanced-dropdown .dropdown-menu .dropdown-extra-buttons-container-bottom .dropdown-clear-all-selected-option:hover {
        background-color: #d5d5d5;
        cursor: pointer; }

.sorting-panel .dragula-bag-wrapper {
  float: left;
  height: 48px;
  position: relative; }
  .sorting-panel .dragula-bag-wrapper > div {
    float: left; }
  .sorting-panel .dragula-bag-wrapper .dragula-bag {
    background-color: #0c5460;
    height: 100%;
    min-width: 80px; }
  .sorting-panel .dragula-bag-wrapper .static-arrow {
    height: 100%;
    background-color: darkgoldenrod;
    padding: 8px;
    padding-top: 3px;
    font-size: 1.6rem; }
.sorting-panel .sort-condition {
  height: 48px;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: white; }
  .sorting-panel .sort-condition div {
    float: left; }
  .sorting-panel .sort-condition .sort-direction-wrapper {
    height: 100%;
    position: relative;
    width: 32px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    background-color: #eeeeee; }
    .sorting-panel .sort-condition .sort-direction-wrapper:hover {
      cursor: pointer; }
    .sorting-panel .sort-condition .sort-direction-wrapper .invisible {
      color: transparent; }
    .sorting-panel .sort-condition .sort-direction-wrapper .fa {
      font-size: 28px;
      position: relative; }
    .sorting-panel .sort-condition .sort-direction-wrapper .fa-caret-up {
      top: -2px; }
    .sorting-panel .sort-condition .sort-direction-wrapper .fa-caret-down {
      bottom: 10px; }
  .sorting-panel .sort-condition .sort-condition-caption-wrapper {
    padding: 4px 8px;
    text-align: center;
    font-size: 1.2rem;
    max-width: 164px;
    height: 100%;
    min-width: 80px;
    padding: 4px 0px;
    margin: 0px 8px;
    display: table; }
    .sorting-panel .sort-condition .sort-condition-caption-wrapper p {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      line-height: 18px; }
    .sorting-panel .sort-condition .sort-condition-caption-wrapper:hover {
      cursor: move; }
  .sorting-panel .sort-condition .delete-btn-wrapper {
    height: 100%;
    position: relative;
    width: 32px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-size: 1.6rem;
    color: #888;
    padding-top: 1px; }
    .sorting-panel .sort-condition .delete-btn-wrapper:hover {
      cursor: pointer;
      color: #666; }

.clickable:hover {
  cursor: pointer; }

/*# sourceMappingURL=site.css.map */
