<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name ="data_test"  providerName="System.Data.SqlClient" connectionString="DATA SOURCE=GELMAGNANIM\SQLSERVERDEV2012; INITIAL CATALOG=test; USER ID=sa; PASSWORD=password!" />
    <add name="replica_soadb" providerName="System.Data.SqlClient" connectionString="DATA SOURCE=GELMAGNANIM\SQLSERVERDEV2012; INITIAL CATALOG=test; USER ID=sa; PASSWORD=password!" />
    <add name="store_soadb" providerName="System.Data.SqlClient" connectionString="DATA SOURCE=GELMAGNANIM\SQLSERVERDEV2012; INITIAL CATALOG=soadb; USER ID=sa; PASSWORD=password!" />
  </connectionStrings>

  <appSettings>
    <add key="replica_Name" value="replica" />
    <add key="replica_StorageType" value="AdoNet" />
    <add key="store_Name" value="store" />
    <add key="store_StorageType" value="AdoNet" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>