.loading-screen-container{
	$size-logo: 144px;
	$size-spinning-circles-diameter: 250px;

	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	&:not(.main-app-loading) {
		background-color: rgba(0, 0, 0, 0.7);
		z-index: $z-index-loading-screen;
	}

	&.main-app-loading{
		#loadingScreenMessage{
			color: #888;
			bottom: 110px;
		}

		.loading-screen-content{
			margin-top: 16%;
		}
	}

	.loading-screen-content{
		width: 300px;
		height: 300px;
		margin: auto;
		margin-top: 16%;
		text-align: center;
		position: relative;

		.logo{
			@include makeSquare($size-logo);
			background-image: url($var-path-to-images + "/volvo-logo.png");
			background-size: cover;
			background-repeat: no-repeat;
			margin: auto;
		}
	}

	@mixin create-spinning-circle($fSpeedInSeconds)
	{
		@include animation(spin $fSpeedInSeconds linear infinite);
	}

	#loadingScreenMessage{
		bottom: 30px;
		position: absolute;
		color: whitesmoke;
		width: 100%;
		text-align: center;
		font-size: 1.3rem;
	}

	// New way to achieve it but needs some tuning
	.loader-container{
		background-color: rgba(200,200,200,0.4);
		@include makeSquare($size-spinning-circles-diameter);
		margin: auto;
		position: relative;
		top: -198px;

		.circle{
			$common-border-style: 3px solid transparent;
			$common-border-radius: 50%;

			$speed-external: 2s;
			$speed-medium: 3s;
			$speed-internal: 2s;

			$diameter-difference-medium: 10px;
			$diameter-difference-internal: $diameter-difference-medium * 2;

			display: block;
			position: absolute;
			//left: 100px;
			//top: 22px;
			z-index: 1001;
			//margin: -75px 0 0 -75px;

			border-radius: $common-border-radius;
			border: $common-border-style;

			&-external {
				@include makeSquare($size-spinning-circles-diameter);
				border-top-color: $color-loading-screen-spinning-circle-external !important;
				@include create-spinning-circle($speed-external);
			}
			&-medium {
				@include makeSquare($size-spinning-circles-diameter - 10px);
				border-top-color: $color-loading-screen-spinning-circle-medium !important;
				@include create-spinning-circle($speed-medium);
				top: $diameter-difference-medium / 2;
				left: $diameter-difference-medium / 2;
			}
			&-internal {
				@include makeSquare($size-spinning-circles-diameter - 20px);
				border-top-color: $color-loading-screen-spinning-circle-internal !important;
				@include create-spinning-circle($speed-internal);
				top: $diameter-difference-internal / 2;
				left: $diameter-difference-internal / 2;
			}
		}

	}


	#loader {
		$common-border-style: 3px solid transparent;
		$common-border-radius: 50%;

		$speed-external: 2s;
		$speed-medium: 3s;
		$speed-internal: 2s;

		display: block;
		position: absolute;
		left: 100px;
		top: 22px;
		z-index: 1001;
		margin: -75px 0 0 -75px;
		@include makeSquare($size-spinning-circles-diameter);
		border-top-color: $color-loading-screen-spinning-circle-external !important;
		@include create-spinning-circle($speed-external);


		&, &:before, &:after{
			border-radius: $common-border-radius;
			border: $common-border-style;
		}
		&:before, &:after{
			content: "";
			position: absolute;
		}


		&:before {
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border-top-color: $color-loading-screen-spinning-circle-medium;
			@include create-spinning-circle($speed-medium);
		}

		&:after {
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-top-color: $color-loading-screen-spinning-circle-internal;
			@include create-spinning-circle($speed-internal);
		}
	}



	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg)
		}
		100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg)
		}
	}

	@keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg)
		}
		100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg)
		}
	}

}