<div [id]="getElemId()" class="loading-screen-container" style="display: none;">
    <div class="loading-screen-content">
        <div class="logo"></div>
        <div id='loader'></div>
        <!--<div class='loader-container'>-->
            <!--<div class='circle circle-external'></div>-->
            <!--<div class='circle circle-medium'></div>-->
            <!--<div class='circle circle-internal'></div>-->
        <!--</div>-->
        <div id="loadingScreenMessage"></div>
    </div>
</div>