<!--<div class="row filters-panel-toolbar-top">-->
    <!--<div class="col-12 text-right">-->
        <!--<button class="btn btn-ge btn-ge-secondary" (click)="clearAllFilters()"><i class="fa fa-floppy-o padding-right"></i>Save</button>-->
        <!--<button class="btn btn-ge btn-ge-secondary" (click)="clearAllFilters()"><i class="fa fa-hdd-o padding-right"></i>Load</button>-->
        <!--<button class="btn btn-ge btn-ge-secondary" (click)="clearAllFilters()"><i class="fa fa-trash-o padding-right"></i>Clear all filters</button>-->
    <!--</div>-->
<!--</div>-->

<div class="row row-ge-has-4-cols">
    <div class="col">
        <advanced-dropdown caption="Production line"
                           [optionsList]="this._oAvailableFilters.filtersProductionLines"
                           [(selectedOptionsList)]="this._oSelectedFilters.filtersProductionLines"
                           optionCaptionProperty="{{getFilterCaptionPropertyName()}}"
                           optionCompareProperty="{{getFilterCaptionPropertyName()}}"
                           [isDisabled]="isProductionLineFilterEnabled() == false"
                           [isWaiting]="isProductionLineFilterInWaiting()"
                           [useDropUp]="true"]>
        </advanced-dropdown>
    </div>
    <div class="col">
        <advanced-dropdown caption="Work Cells"
                           [optionsList]="this._oAvailableFilters.filtersWorkCells"
                           [(selectedOptionsList)]="this._oSelectedFilters.filtersWorkCells"
                           optionCaptionProperty="{{getFilterCaptionPropertyName()}}"
                           optionCompareProperty="{{getFilterCaptionPropertyName()}}"
                           [isDisabled]="isWorkCellFilterEnabled() == false"
                           [isWaiting]="isWorkCellFilterInWaiting()"
                           [useDropUp]="true"]>
        </advanced-dropdown>
    </div>
    <div class="col">
        <advanced-dropdown caption="Rule Types"
                           [optionsList]="this._oAvailableFilters.filtersRuleTypes"
                           [(selectedOptionsList)]="this._oSelectedFilters.filtersRuleTypes"
                           optionCaptionProperty="{{getFilterCaptionPropertyName()}}"
                           optionCompareProperty="{{getFilterCaptionPropertyName()}}"
                           [isDisabled]="isRuleTypeFilterEnabled() == false"
                           [isWaiting]="isRuleTypeFilterInWaiting()"
                           [useDropUp]="true"]>
        </advanced-dropdown>
    </div>
    <div class="col">
        <advanced-dropdown caption="Materials"
                           [optionsList]="this._oAvailableFilters.filtersMaterialDefinitions"
                           [(selectedOptionsList)]="this._oSelectedFilters.filtersMaterialDefinitions"
                           optionCaptionProperty="{{getFilterCaptionPropertyName()}}"
                           optionCompareProperty="{{getFilterCaptionPropertyName()}}"
                           [isDisabled]="isMaterialsFilterEnabled() == false"
                           [isWaiting]="isMaterialsFilterInWaiting()"
                           [useDropUp]="true"]>
        </advanced-dropdown>
    </div>
    <!--<div class="col">-->
        <!--<button class="btn btn-ge btn-ge-secondary clear-all-filters-btn" (click)="clearAllFilters()"><i class="fa fa-trash-o padding-right"></i>Clear all filters</button>-->
    <!--</div>-->
</div>
<!--<div class="row">-->
    <!--<div class="col">-->
        <!--Selected filters count in each dropdown:<br>-->
        <!--{{this._oSelectedFilters.filtersProductionLines.length}}<br>-->
        <!--{{this._oSelectedFilters.filtersWorkCells.length}}<br>-->
        <!--{{this._oSelectedFilters.filtersRuleTypes.length}}<br>-->
        <!--{{this._oSelectedFilters.filtersMaterialDefinitions.length}}<br>-->
    <!--</div>-->
<!--</div>-->
<div class="row" style="margin-top: 40px;">
    <div class="col-lg-12">
        <sorting-panel [(sortConditions)]="sortConditionsList"></sorting-panel>
    </div>
</div>


<div class="row toolbar-bottom">
    <div class="col-12 text-right">
        <button class="btn btn-ge btn-ge-secondary-outline" (click)="clearAllFilters()"><i class="fa fa-trash-o padding-right"></i>Clear all filters</button>
        <button class="btn btn-ge btn-ge-secondary-outline" (click)="clearAllFilters()"><i class="fa fa-floppy-o padding-right"></i>Save</button>
        <button class="btn btn-ge btn-ge-secondary-outline" (click)="clearAllFilters()"><i class="fa fa-hdd-o padding-right"></i>Load</button>
    </div>
</div>
